.container {
	padding: 40px 15%;
}

#navbar {
	width: 100%;
	height:150px;
	vertical-align:middle;
}

#navbar .large.ui {
	margin-top:65px;
}

.instruct {
	float:left;
	width:325px;
	text-align:center;
	padding:0px 3%;
}

#instructions .num {
	font-size:120px;
	margin-bottom:0px;
	font-weight:bold;
	font-family:'Kristi';
}

#instructions .descr {
	font-size:16px;
	
}

#soundbites .bite {
	width:253.5px;
	float:left;
	margin-bottom:40px;
}

#soundbites img {
	height:246.5px;
	width:246.5px;
	float:left;
}

#soundbites audio {
	float:left;
	width:246.5px;
	margin:0px 3.5px;
}
